# Byggmappar
bin/
obj/

# Visual Studio-filer
.vs/
*.user
*.suo

# Paket
packages/
*.nupkg
*.snupkg

# Andra filer att ignorera
*.log
*.cache
*.pdb
*.mdb

# Testresultat
TestResults/

# Rider-specifikt
.idea/

# MSBuild temporära filer
*.tmp
*.temp
*.vspscc

# Node.js om det finns
node_modules/

# Om du använder JetBrains
*.dotCover

 