# Byggmappar
bin/
obj/

# Visual Studio-filer
.vs/
*.user
*.suo
*.csproj
*.appxmanifest

# Paket
packages/
*.nupkg
*.snupkg

# Andra filer att ignorera
*.log
*.cache
*.pdb
*.mdb

# Testresultat
TestResults/

# Rider-specifikt
.idea/

# MSBuild temporära filer
*.tmp
*.temp
*.vspscc

# Node.js om det finns
node_modules/

# Om du använder JetBrains
*.dotCover

 
/DPP_Installer/Package.appxmanifest
/app.config
/DigitalProductionProgram.csproj
/DPP_Installer/BundleArtifacts/Install DPP.appinstaller.xml
/.gitignore
/DPP_Installer/BundleArtifacts/x86.txt
/DPP_Installer/Install DPP.assets.cache
