<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DigitalProductionProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Körprotokoll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Körprotokoll.Properties.Settings.csArtikelregister"
      connectionString="Data Source=OPTISQL2008;Initial Catalog=Artikelregister;Persist Security Info=True;User ID=korprotokoll;Password=korprotokoll;Connect Timeout=10" />
    <add name="Körprotokoll.Properties.Settings.csKorprotokoll" connectionString="Data Source=OPTISQL2008;Initial Catalog=Korprotokoll;Persist Security Info=True;User ID=korprotokoll;Password=korprotokoll;Connect Timeout=10" />
    <add name="Körprotokoll.Properties.Settings.csMonitor_Holding"
      connectionString="Dsn=003 Optinova Holding Ab;uid=monodbc;pwd=monodbc;Connect Timeout=10" />
    <add name="Körprotokoll.Properties.Settings.csMonitor_Godby"
      connectionString="Dsn=001 OPTINOVA AB;uid=monodbc;pwd=monodbc;Connect Timeout=10" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection2" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <DigitalProductionProgram.Properties.Settings>
      <setting name="Zumbach_Portname" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="Zumbach_Baudrate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="Zumbach_DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Zumbach_Stopbits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="Zumbach_Handshake" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="Zumbach_Message" serializeAs="String">
        <value>g210</value>
      </setting>
      <setting name="Zumbach_CtrDeleteLastMeasurepoints" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WeatherCity" serializeAs="String">
        <value>Finström</value>
      </setting>
    </DigitalProductionProgram.Properties.Settings>
    <Körprotokoll.Properties.Settings>
      <setting name="Bakgrund_Meddelanden" serializeAs="String">
        <value>Bisque</value>
      </setting>
      <setting name="Textfärg_Avsändare" serializeAs="String">
        <value>Tomato</value>
      </setting>
      <setting name="Textfärg_Mottagare" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="csVerktyg" serializeAs="String">
        <value>Data Source=OPTISQL2008;Initial Catalog=Verktygsprogram;Persist Security Info=True;User ID=user_Verktyg;Password=user_Verktyg;Connect Timeout=30</value>
      </setting>
    </Körprotokoll.Properties.Settings>
  
</userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection2" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection2" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection2" />
      </providers>
    </roleManager>
  </system.web>
</configuration>